<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cny.awf"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <instrumentation
        android:name="com.zutubi.android.junitreport.JUnitReportTestRunner"
        android:label="Tests amf"
        android:targetPackage="org.cny.awf" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="adnroid.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="adnroid.permission.MY_SERVICE_PERMISSION" />
    <uses-permission android:name="adnroid.permission.MANAGE_USERS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".test.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library android:name="android.test.runner" />

        <activity
            android:name=".ImAty"
            android:label="@string/title_activity_im_aty" >
        </activity>
        <activity
            android:name="org.cny.awf.test.ImActivity"
            android:label="@string/title_activity_im" >
        </activity>

        <service
            android:name="org.cny.awf.im.ImSrv"
            android:exported="false"
            android:enabled="true" >
            <meta-data android:name="host" android:value="192.168.1.102"/>
            <meta-data android:name="port" android:value="9891"/>
            <meta-data android:name="uk" android:value="sssss->KK"/>
            <intent-filter>
                <action android:name="org.cny.awf.im.PushSrv" />
            </intent-filter>
        </service>
    </application>

</manifest>